@import url('https://rsms.me/inter/inter.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
html, button, input, select, textarea {
	font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
	html, button, input, select, textarea {
		font-family: 'Inter var', sans-serif;
	}
}
:root {
	--max-width: 1250px;
}
body {
	margin: 0;
	background-color: #f6f6f3;
	-webkit-print-color-adjust: exact !important;
	color-adjust: exact !important;
}
.print {
	display: none;
}

.toolbar, .toolbar-inputs, .toolbar-buttons {
	display: flex;
}
.toolbar-buttons {
	justify-content: flex-end;
	flex: 1 1 auto;
}

.toolbar {
	justify-content: space-between;
	flex-wrap: wrap-reverse;
	padding: 10px 0 0;
	margin: 0px 0 10px 0;
	
	background-color: #f1f0ec;
	border-bottom: 1.5px solid #e4e3dd;
	//border-top: 1.5px solid #f0f0f0;
}
.toolbar-wrapper {
	width: 100%;
	max-width: var(--max-width);
	margin: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
}
.toolbar-wrapper > div {
	margin: 0 12px 8px;
}
.input {
	height: 33px;
	width: 170px;
	display: flex;
	align-items: center;
	margin-right: 6px;
	
	background-color: #dddddd;
	border-radius: 5px;
}
.billing {
	width: 110px;
}
.lot {
	width: 90px;
}
.date {
	width: auto;
}
.toolbar input {
	box-sizing: border-box;
	padding: 0 10px 0 10px;
	height: 100%;
	width: 100%;
	
	background-color: transparent;
	border: none;
	border-radius: 5px;
	font-size: 13px;
	font-weight: 500;
}
::placeholder {
	color: #505050;
	font-weight: 400;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.input p {
	width: 20px;
	padding-left: 8px;
	text-align: left;
}
#billing {
	margin-left: -28px;
	text-align: right;
}

.toolbar-buttons button, .auth button {
	padding: 0 15px;
	height: 33px;
	margin-left: 10px;
	
	font-size: 13px;
	font-weight: 500;
	border: none;
	border-radius: 5px;
	background-color: #ffffff;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #d1d1d1;
	cursor: pointer;
}
.toolbar-buttons button:hover {
	background-color: #f6f6f6;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #cfcfcf;
}
.toolbar-buttons button:active {
	color: #787878;
}

.toolbar input:disabled::placeholder, .input p {
	color: #a5a5a5;
}
.toolbar-buttons button:disabled {
	color: #a7a7a7;
	cursor: default;
}
.toolbar-buttons button:disabled:hover {
	background-color: #ffffff;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #d1d1d1;

}
#print {
	margin-right: 0;
	border-radius: 5px 0 0 5px;
	border-right: 1px solid #e5e5e5;
}
#export {
	margin-left: 0;
	border-radius: 0 5px 5px 0;
}
i {
	margin-right: 6px;
}


.collapseBtn-container {
	margin: 1px auto;
	width: calc(100% - 24px);
	max-width: calc(var(--max-width) - 24px);
	//background-color: red;
}
.collapseBtn-container button {
	background-color: transparent;
	border: none;
	color: #47a2ef;
	cursor: pointer;
}


.content-container {
	margin: 17px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: calc(100% - 24px);
	max-width: calc(var(--max-width) - 24px);
}
.column {
	width: calc(25% - 5px);
}
.section-table {
	width: 100%;
	background-color: #e8e7df;
	border-bottom: 1.5px solid #cccccc;
	margin-bottom: 10px;
}

.section-table h1 {
	font-size: 15px;
	font-weight: 400;
	background-color: #E5EDF1;
	border-bottom: 1px solid #A9C5D4;
	border-top: 1.5px solid #A9C5D4; 
	padding: 5px 5px;
	margin: 0;
}
.section-table h1.labor {
	border-bottom: 1px solid #9fbeb9;
	border-top: 1.5px solid #9fbeb9;
	background-color: #deece9;
}
.section-table button {
	padding: 0;
	background-color: transparent;
	border: none;
	width: auto;
	height: auto;
	cursor: pointer;
}
.section-table button:active {
	color: #777792;
}

.section-table ul {
	list-style: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.section-table li {
	display: flex;
	//align-items: center;
	border-bottom: 1px solid #cccccc;
	font-size: 13px;
}

.section-table input {
	position: relative;
	box-sizing: border-box;
	padding: 0 5px 0 10px;
	margin-right: 5px;
	height: 100%;
	min-height: 29px;
	width: 60px;
	
	background-color: #f0efeb;
	border-radius: 0;
	border: none;
	text-align: right;
	color: #3b6eb7;
	font-size: 13px;
	font-weight: 500;
}
.content-container input::-webkit-outer-spin-button,
.content-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.content-container input[type=number] {
  -moz-appearance: textfield;
}
.section-table input:focus {
	background-color: #f6f5f0;
	z-index: 2;
}
.section-table input:invalid {
	background-color: #fee9e6;
	color: #d0434d;
}

.section-table p {
	padding: 5px 5px 3px 0;
	margin: 0;
}


.section-table h1.add-item {
	border-bottom: 1px solid #a9b1c6;
	border-top: 1.5px solid #a9b1c6;
	background-color: #dee3ec;
}
.new-item-buttons {
	display: flex;
	width: 50%;
	margin: 5px auto;
	justify-content: space-between;
}
.new-item-buttons button {
	font-size: 14px;
	font-weight: 400;
	padding: 5px 10px;
	border-radius: 5px;
	background-color: #ffffff;
	border-top: 1px solid #e5e0d9;
	border-bottom: 1px solid #bbbbbb;
	cursor: pointer;
}
.new-item-buttons button:disabled {
	color: #a7a7a7;
	cursor: default;
}




.app-controls {
	margin: 90px auto 60px;
	width: 360px;
	padding: 9px 0px 10px;
	background-color: #eeede6;
	border-radius: 10px;
}
.auth-container {
	margin-bottom: 130px;
}
.auth-container h2 {
	text-align: left;
	margin: 27px 29px 4px;
}
.auth-container p {
	margin: 0 29px 17px;
	font-size: 14px;
}
.new-auth {
	width: 320px;
	height: 42px;
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
	align-items: center;
}
.new-auth input {
	background-color: #dbdbdb;
	border: none;
	height: 42px;
	width: 320px;
	border-radius: 6px;
	font-weight: 500;
	font-size: 14px;
	padding: 0 9px;
	margin-right: -40px;
}
.new-auth button {
	background-color: transparent;
	width: 40px;
	border: none;
	cursor: pointer;
	font-size: 24px;
	color: #0EBB0D;
	margin: 0;
	padding: 0;
	text-align: right;
}
.new-auth button:hover {
	color: #16a215;
}
.new-auth button:active {
	color: #4ccd4b;
}
.new-auth button:disabled {
	color: #7c827b;
	cursor: text;
}
#auth-help {
	margin: 7px 29px 0;
	font-size: 14px;
	color: #f59706;
}

.js-message {
	margin: 90px 0;
}
.js-message h2 {
	font-size: 18px;
	text-align: center;
	color: #f59706;
}

.app-status {
	width: 70%;
	margin: 10px auto 15px auto;
	
	border-bottom: 1px solid #c5c5bf;
}
.app-status h2 {
	font-size: 15px;
	text-align: center;
	color: #19b851;
}
.app-status a {
	font-weight: 500;
	color: #47a2ef;
}


.footer {
	width: 180px;
	display: flex;
	justify-content: space-between;
	margin: 12px auto;
}
.footer a {
	padding: 8px 10px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 500;
	color: #304e74;
	text-decoration: none;
}
.footer a:hover {
	color: #2a6bbc;
	background-color: #e3dfd4;
}


@media print {
	.main {
		display: none;
	}
	.print {
		display: block;
	}
	
	body {
		-webkit-print-color-adjust: exact !important;
		color-adjust: exact !important;
		background-color: transparent;
	}
	.print {
		width: 5in;
		margin: 8pt auto;
	}
	.print p, .print h3, .print h1 {
		margin: 0;
	}
	.print .header {
		display: flex;
		justify-content: space-between;
		width: 3.3in;
		margin-bottom: 8pt;
	}
	.print .builder {
		width: 1.2in;
	}
	.print .header p {
		font-size: 10pt;
		font-weight: 500;
		color: #3a3a3a;
	}
	.print .header h3 {
		font-size: 12pt;
		font-weight: 600;
	}
	
	.print h1 {
		padding: 5pt 0 3pt 4pt;
		font-size: 11pt;
		font-weight: 600;
		background-color: #232323;
		color: #ffffff;
	}
	.print .table-subheading {
		display: flex;
		justify-content: space-between;
		padding: 2pt 4pt;
		background-color: #dcdcdc;
		border-bottom: 1px solid #adadad;
		font-weight: 500;
		font-size: 10pt;
	}
	
	.print .table {
		margin-bottom: 7pt;
	}
	.print .table-entry {
		display: flex;
		justify-content: space-between;
		padding: 2pt 4pt;
		font-size: 10pt;
	}
	.print .total-line {
		border-top: 2px solid #636363;
		font-weight: 600;
	}
	.print .column-1 {
		width: 3in;
	}
	.print .column-2 {
		width: 0.75in;
		text-align: right;
	}
	.print .column-3 {
		width: 1.25in;
		text-align: right;
	}
	
	#print-labor-table .table-entry:nth-child(even) {
		background-color: #f0f0f0;
	}
	#print-materials-table .table-entry:nth-child(even) {
		background-color: #f0f0f0;
	}
}


@media (max-width: 800px) {
	.toolbar {
		flex-direction: column;
	}
	.toolbar-inputs {
		//flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
	}
	.input {
		width: calc(50% - 2px);
		margin-right: 0;
		margin-bottom: 5px;
	}
	.content-container {
		flex-direction: column;
	}
	.column {
		width: 100%;
	}
}