@import url('https://rsms.me/inter/inter.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
html, button, input, select, textarea {
	font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
	html, button, input, select, textarea {
		font-family: 'Inter var', sans-serif;
	}
}

body {
	background-color: #fbf9f1;
	display: flex;
	justify-content: center;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
}
#container {
	width: 100%;
	margin: 0 40px;
	height: auto;
	max-width: 1200px;
}


#toolbar {
	margin-top: 13px;
	height: 47px;
	padding: 0 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content: center;
	align-items: center;
	background-color: #e8e7df;
	border-bottom: 1px solid #cfcdbf;
	border-top: 1px solid #cfcdbf;
}
#toolbar * {
	font-weight: 500;
	font-size: 13px;
}
#toolbar > div {
	height: 47px;
	display: flex;
	align-items: center;
}

.form-wrapper {
	display: flex;
	justify-content: start;
}
.form-wrapper input {
	height: 32px;
	padding: 0 6px;
	margin-right: 6px;
	font-size: 13px;
	border-radius: 5px;
	background-color: #fbfaf3;
	border: 1px solid #e0e0e0;
}
#builder-name {
	width: 140px;
}
#lot-block {
	width: 100px;
}

#toolbar-functions {
	display: flex;
	justify-content: flex-end;
	height: 47px;
	align-items: center;
}
.toolbar-actions {
	display: flex;
}
#actions-group {
	display: flex;
}
#connected-wrapper {
	display: flex;
}
#toolbar-functions > div {
	justify-content: flex-end;
	height: 47px;
	align-items: center;
}

button {
	cursor: pointer;
	text-decoration: none;
	border: none;
	background-color: transparent;
}
.actions-wrapper button {
	padding: 7px 10pt;
	color: #404039;
}
.actions-wrapper > div {
	height: 32px;
	display: flex;
	margin-left: 12px;
	border-radius: 5px;
	background-color: #ffffff;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #d1d1d1;
}
.actions-wrapper > div:hover {
	background-color: #f6f6f6;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #cfcfcf;
}
#merged-left {
	margin-right: 0;
	border-radius: 5px 0 0 5px;
	border-right: 1px solid #e5e5e5;
}
#merged-right {
	margin-left: 0;
	border-radius: 0 5px 5px 0;
}

.actions-wrapper.actions__disabled div {
	background-color: rgba(246, 246, 246, 0.7);
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #cfcfcf;
}
.actions-wrapper.actions__disabled button {
	cursor: not-allowed;
	color: rgba(64, 64, 57, 0.7);
}




#connection-status {
	display: flex;
	justify-content: flex-end;
}
#connection-status {
	display: flex;
	align-self: center;
}
#connection-status {
	display: flex;
	align-self: center;
	align-items: center;
}
#connection-status-button {
	display: flex;
	align-items: center;
	align-self: center;
	height: 32px;
	border-radius: 5px;
	padding: 0 5px;
}
#connection-status:hover {
	cursor: pointer;
	background-color: #D1F6D1;
}
#connection-status-icon > i {
	font-size: 18px;
	color: #19b851;
}
#connection-status-description {
	display: none;
}




.auth {
	display: flex;
	align-items: center;
}
.auth input {
	height: 45px;
	width: 230px;
	border: none;
	padding: 0 4px 0 7px;
	background-color: #f0efeb;
}
.auth label {
	width: 92px;
	margin-right: 12px;
	text-align: right;
}
.auth button {
	padding: 7px 10pt;
	color: #0EBB0D;;
	align-self: center;
}
.auth > div {
	height: 32px;
	width: 80px;
	display: flex;
	justify-content: center;
	margin-left: 12px;
	border-radius: 5px;
	background-color: #ffffff;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #d1d1d1;
}
.auth > div:hover {
	background-color: #eff9f0;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #cfcfcf;
}
.error-hint {
	display: none;
	justify-content: center;
}
#error-hint * {
	font-size: 14px;
	font-weight: 600;
	align-items: center;
	align-content: center;
	align-self: center;
	color: #f59706;
}


@media (max-width: 900px) {
	#container {
		margin: 0 20px;
	}
}
@media (max-width: 700px) {
	#container, #toolbar {
		margin: 0;
	}
	#toolbar {
		border-top: none;
	}
}